# Ignore Gradle project-specific cache directory
.gradle/
.classpath
.project
.cache-main
.cache-tests
.settings/
.gradle/
build/
src/test/
src/main/java
project_deps/
spark-warehouse/
bin/

# Ignore Gradle build output directory
build
